{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block content %}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        {% if request.user.company %}
          {% include 'company/mycompany-nav.html' %}
          {% endif %}
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о компании</h2>
              <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{ form|crispy }}
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}