{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
         <div class="text-center mt-5 b-1">

            <h1 class="h3 mb-3 font-weight-normal">Камба</h1>
            <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
          </div>
        <form {{ request.path }} form method="post" >
          {% csrf_token %}
          {{ form|crispy }}

          <div class="checkbox mb-3"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
        </form>

        <div class="mt-4 text-center"><p>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p></div>

      </div>
    </div>
  </main>
 {% endblock  %}