{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% crispy form 'bootstrap4' %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <div class="text-center mt-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Камба</h1>
            <p class="h5 font-weight-light">Создайте аккаунт</p>
          </div>
        <form method="post" action="{% url 'register' %}" class="col-lg-20 mt-4 ">
          {% csrf_token %}
          <table>{{ form|crispy }}</table>
          <div class="checkbox mb-3"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
        </form>

         <div class="mt-4 text-center"><p>Есть аккаунт? <a href="/login">Войдите!</a></p></div>

      </div>
    </div>
  </main>
 {% endblock %}